<div class="container">
  <div class="box-shadow box-light-background parent-section">
    <div class="container">
      <header>
        <h1>Job Application <small class="sub-title badge badge-dark">{{jobapplicationId}}</small></h1>
        <hr>
      </header>
      <section name="candidate-campaign-readonly" *ngIf="isJobApplicationRetrieved">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <app-detailcandidate [jobapplication]="jobapplication">
            </app-detailcandidate>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <app-detailcampaign [jobapplication]="jobapplication"></app-detailcampaign>
          </div>
        </div>
      </section>
    </div>
    <div class="container" *ngIf="isJobApplicationRetrieved">
    <app-selection-steps [jobapplication]="jobapplication"></app-selection-steps>
    </div>
  </div>

</div>