    <br>
        <header *ngIf="!selectionStep">
            <h1>SelectionStep <small class="sub-title badge badge-dark">CV Screening</small></h1>
            <hr>
        </header>
        <header *ngIf="selectionStep">
          <h1>SelectionStep <small class="sub-title badge badge-dark">{{selectionStep.description}}</small></h1>
          <hr>
        </header>

        <form [formGroup]="SelectionStepForm" (ngSubmit)="isValid() && save()">
        <div class="form-group">
          <label for="inputCommentText" class="label-title">Comment:</label>
          <input formControlName="comment" type="text" class="form-control" id="inputCommentText">
        </div>
        <button id="SelectionSaveButton" class="btn btn-success btn-md mx-2" type="submit">Save</button>
        <button class="btn btn-danger" type="reset" (click)="cancel()">Cancel</button>
      </form>
      <br><br>

              <table id="CampaignDetailTable" class="table table-bordred table-striped" *ngFor="let selection of selectionSteps">
                  <h6>{{selection.description}}</h6>
                <tr>
                  <th>Comment: </th>
                  <td>{{selection.comment}}</td>
                </tr>          
              </table>
