<h1>Campaigns</h1>

<div class="table-bordred">
  <button id="CampaignCreateButton">
     <a routerLink="/createcampaign">Create campaign</a>
  </button>
  <table id="tableCompaigns" class="table table-bordred table-striped">
     <thead>
       <th>Name</th>
       <th>Client</th>
       <th>StartDate</th>
       <th>ClassStartDate</th>
     </thead>

     <tr *ngFor= "let campaign of campaigns" >
       <td>{{campaign.name}}</td>
       <td>{{campaign.client}}</td>
       <td>{{campaign.startDate}}</td>
       <td>{{campaign.classStartDate}}</td>
     </tr>  
 </table>
 </div> 
